
/* Your CSS Code here. */
/* main styles */
#job.accio {
  width: 150px;
  height: 150px;
  background: #000000;
}

/* paragraph styles */
.hello-accio {
  color: #ffffff;
  margin-left: 32px;
  padding: 10px;
}
